.back-div {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.btn-back {
  padding: 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  color: white;
  position: fixed;
  top: 110px;
  left: 4px;
}

.score-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: safe center;
  justify-content: safe center;
  overflow: auto;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
  height: auto;
  max-height: calc(100vh - 175px);
  overflow: auto;
  background-color: #cacaca;
  border: 3px solid #cacaca;
  padding: 0.75rem; 
}  